
/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 20%,
        #dfe0d9 20%,
        #dfe0d9 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 80%;
    min-width: 900px;
    height: 95%;
}

main{
    display: flex;
    height: 80vh;
}


/*UTILITIES*/

.title{
    font-size: 15px;
}

.subtitle{
    font-size: 12px;
    color: dimgrey;
    font-weight: 300;
}

.icons{
    color: #a2a6aa;
    font-size: 20px;
    padding: 0 5px;
    margin-right: 10px;
}

.icon{
    font-size: 12px;
    color: #a2a6aa;
}

.icon3{
    font-size: 20px;
    color: dimgrey;
}

.bell{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    color: #9ee0ff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    
}


/*HEADER*/

.fix-tab{
    background-color:#eee8e8;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1;
}

.username{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-name{
    width: 779px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.user{
    display: flex;
    align-items: center;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 10px;
}

/*SECTION 1*/

.sec-1{
    width: 450px;
    height: 100%;
    margin-top: 60px;
}


.notifications{
    height: 65px;
    background-color: #9ee0ff;
}

.input{
    height: 35px;
    background-color: #e4dcd4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    height: 30px;
    width: 20%;
    border: #e4dcd4;
    background-color:#eee8e8;
}

.type{
    height: 30px;
    width: 77%;
    border: #e4dcd4;
    background-color:#eee8e8;
}

.contact-list{
    background-color: #fff;
    
}


/*SECTION 2*/

.sec-2{
    width: 779px;
    margin-top: 60px;
    background-image: url(../img/mine.jpg);
    object-fit: cover;
    display: flex;
    overflow: auto;
}


.foot{
    align-self: flex-end;
    width: 779px;
    align-items: center;
    justify-content: space-around;

}



